@model DiligenceReportCreation.Models.UserModel
@{
    ViewData["Title"] = "AddNewUser";
}

<div class="text-center">
    <h1>Create New User</h1>
    @if (!(@TempData["message"] is null))
    {
        <p class="alert-danger">@TempData["message"].ToString()</p>
    }

    <div class="text-center">
        @using (Html.BeginForm("AddNewUser", "Admin", FormMethod.Post))
        {
        <table align="center">
            <tr>
                <td><label>Username: </label></td>
                <td>@Html.TextBoxFor(UserModel => UserModel.Username, new { required = "required" })</td>
                <td><p class="text-muted">Please enter Citrix ID of user</p></td>
</tr>
            <tr>
                <td><label>User Type: </label></td>
                <td>@Html.DropDownListFor(UserModel => UserModel.Role, new List<SelectListItem> { new SelectListItem { Text = "user" }, new SelectListItem { Text = "admin" } }, "Select", new { required = "required" })</td>
            </tr>
            
        </table>

            <br />
            <input id="Submit" type="submit" value="Create User" />
        }

    </div>
</div>
